*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.cuerpo{
    background: #fff;
}
#check{
    display: none;
}


.nav{
    background: #f8f8ff;
    width: 95%;
    float: right;
    transition: 0.5s;
    /*color del vorde inferior antes: #e0dddd */
    border-bottom: 1px solid #e0dddd;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo {
    margin-left: 20px;
    font-weight: bold;
}

.nav .logo img{
    width: 30px;
    height: 30px;
}


.nav ul {
    margin: 20px;
}

/*__________Icono Superior____________*/
.nav ul .salir{
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 10px;
    border: 1px solid #ccc;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.nav ul .salir:hover{
    background: rgb(172, 169, 169);
}

.nav ul .salir a{
    color: #fff;
}
/*__________________menu salir___________________*/
.nav .menu-salir{
    /*link tutorial: https://www.youtube.com/watch?v=04u09KBBjfM*/
    position: absolute;
    z-index: 10;/*para sobreponer*/
    width: 15%;
    left: 84%;
	top:60px;
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    visibility: hidden;
     transition: 0.2s;
    opacity: 0;
}
.nav .menu-salir .info-user{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav .menu-salir .info-user .logo-user{
    background: #ccc;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.nav .menu-salir .info-user .datos-usuario {
    width: 100%;
}
.nav .menu-salir .info-user .datos-usuario .nombre-user{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.nav .menu-salir .info-user .datos-usuario .correo-user{
    font-size: 13px;
    color: rgb(172, 169, 169);
    text-align: center;
}

.nav .menu-salir ul{
    font-size: 14px;
    padding: 0px;
}

.nav .menu-salir.active{
    visibility: visible;
    opacity: 1;
}

.nav .menu-salir ul li{
    list-style: none;
    border-top: 1px solid #ccc;
    padding: 5px 0px;
    color: #ccc;
    cursor: pointer;
} 

.nav .menu-salir ul li i{
    margin-right: 10px;
   
}
.nav .menu-salir ul li a{
    color: rgb(43, 39, 39);
    text-decoration: none;
}

.nav .menu-salir ul li a:hover{
    color: rgb(172, 169, 169);
}
.nav .menu-salir ul li:hover{
    color: rgb(172, 169, 169);
}
/*___________________slider_________________________*/
.sidebar{
    background-color: rgb(71, 71, 241);
    color: #fff;
    width: 5%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    position:fixed; 
    top:0;
    z-index: 100;
    /*overflow: hidden;*/
}

.sidebar .check1{
    /*background: salmon;*/
    margin: 20px;
    color: #fff;

}

/*_________IMG Encabezado INICIO________________*/
.sidebar .slider-encabesado{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-weight: bold;
    position: absolute;
    color: #fff;
    top: 15px;
    left: 45px;
    font-size: 20px;
    width: 52.5px;
    height: 30px;
    display: none;
}

#check:checked ~ .sidebar .slider-encabesado{
    display: inline;
    
}
/*_________IMG Encabezado FIN________________*/


.sidebar a{
    display: block;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.sidebar .slider-text{
    padding: 10px;
}

.sidebar .slider-text:hover{
    background: rgb(94, 94, 248);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    /* border-radius: 20px; */
    /*border-bottom-left-radius: 20px;*/
}

.slider-opcion.active{
    border-left: 4px solid #fff;
}

 /*_________ long out START _______  */
 .sallir-option{
    border-top: 1px solid #ccc;
   position: relative;
   bottom: -33%;
    /* margin-top: 100px; */
}

/*_________ long out END _______  */

#sidebar_btn:hover{
    background: #5b35f1;
    cursor: pointer;
}
.sidebar a span{
    transition: 5s;
}
.sidebar a span, .check1 span{
    display: none;
}

/*____________Tooltip INICIO_______________*/
.slider-opcion .texto-emergente{
    background: rgb(71, 71, 241);
    position: absolute;
    padding: 5px 20px;
    border-radius: 15px;
    display: inline;
    left: 105%;
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
}
.slider-opcion:hover .texto-emergente{
    opacity: 1;
    visibility: visible;
}

/*____________Tooltip FIN_______________*/


.content{
    /* background: #fff;  */
    width: 95%;
    position: relative;
    float: right;
    margin-left: 15%;
    transition: 0.5s;
}


#check:checked ~ .sidebar{
    width: 15%;
    overflow: hidden;
}

#check:checked ~ .content{
    width: 85%;
}

#check:checked ~ .nav{
    width: 85%;
    
}

#check:checked ~ .sidebar a span{  
    display: inline;
    margin-left: 10px;
    position: absolute;
}

/* ____________________________________ */
.contendor{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 5px;
}

.contendor .titulo-ayuda{
    width: 100%;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

/*_____________Taps INICIO_________________*/

.wrapper{
	width: 100%;

}

.tabs ul{
	display: flex;
    justify-content: center;
	/* background: #fbfbfb; */
	border-bottom: 1px solid #dddddd;
	/* border-radius: 5px; */
	margin-bottom: 25px;
}

.tabs ul li{
	width: 250px;
	padding: 5px;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: #3b3b3b;
	/* text-transform: uppercase; */
	font-size: 14px;
	font-weight: 600;
	/* letter-spacing: 3px; */
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
    list-style: none;
}

.tabs ul li .icon{
	font-size: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #5b35f1;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #e3dff7;
	color: #5b35f1;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}

.content-tabs{
	/* background: #fbfbfb; */
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 20px;
    font-size: 14px;
}


.container-cards{
    /* background: #5b35f1; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-cards .cabecera{
    /* background: #dddddd; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.container-cards .cabecera .titulo{
    font-weight: bold;
    font-size: 20px;

}

.container-cards .titulo{
    font-weight: bold;
}

.container-cards .info{
    margin-bottom: 10px;
}

.container-cards .mail{
    color: #5b35f1;
}

.container-cards .imagen{
    width: 150px;
    height: 150px;
    /* background: #ccc; */
}

.container-cards .imagen img{
    width: 100%;
}

.contendido-cabecera{
    text-align: center;
}

.container-cards .contendio-ayuda{
    text-align: center;
}

.container-cards .card-informacion{
    margin-bottom: 30px;
}

.container-cards .infomacion-persona{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* segundo TAB */

.contenido-manual{
    /* background: #5b35f1; */
    width: 100%;
}

.contenido-manual .manuales .titulo{
    border-bottom: 1px solid #dddddd;
    padding: 5px;
    background: #f1f5f9;
    font-size: 15px;
}

.contenido-manual .contenido-info-manual{
    /* background: #ccc; */
    padding: 30px 20px;
    
}

.contenido-manual .contenido-info-manual .contenido-manual-enlaces{
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.contenido-manual .contenido-info-manual .contenido-manual-enlaces a{
    margin-bottom: 5px;
    color: #5b35f1;
    text-decoration: none;
    cursor: pointer;
}

.contenido-manual .contenido-info-manual .contenido-manual-enlaces a:hover{
    color: #9b84f3;
}



.contenido-manual .soporte{
    background: #f1f5f9;
    width: 100%;
}

.contenido-manual .soporte .contenido-soporte{
    padding: 20px;
}
.contenido-manual .soporte .contenido-soporte .mail{
    color: #5b35f1;
}
/*_____________Taps FIN_________________*/



/*________ scroll bar INICIO __________*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(172, 169, 169); 
    border-radius: 10px;
  }
 /*________ scroll bar FIN __________*/

 /* footer */
 .pie-pagina{
     /* background: #3240da; */
     padding: 20px 0px;
     text-align: center;
     width: 100%;
 }


