*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.cuerpo{
    background: #fff;
}
#check{
    display: none;
}


.nav{
    background: #f8f8ff;
    width: 95%;
    float: right;
    transition: 0.5s;
    /*color del vorde inferior antes: #e0dddd */
    border-bottom: 1px solid #e0dddd;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo {
    margin-left: 20px;
    font-weight: bold;
}

.nav .logo img{
    width: 30px;
    height: 30px;
}


.nav ul {
    margin: 20px;
}

/*__________Icono Superior____________*/
.nav ul .salir{
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 10px;
    border: 1px solid #ccc;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.nav ul .salir:hover{
    background: rgb(172, 169, 169);
}

.nav ul .salir a{
    color: #fff;
}
/*__________________menu salir___________________*/
.nav .menu-salir{
    /*link tutorial: https://www.youtube.com/watch?v=04u09KBBjfM*/
    position: absolute;
    z-index: 10;/*para sobreponer*/
    width: 15%;
    left: 84%;
	top:60px;
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    visibility: hidden;
     transition: 0.2s;
    opacity: 0;
}
.nav .menu-salir .info-user{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav .menu-salir .info-user .logo-user{
    background: #ccc;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.nav .menu-salir .info-user .datos-usuario {
    width: 100%;
}
.nav .menu-salir .info-user .datos-usuario .nombre-user{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.nav .menu-salir .info-user .datos-usuario .correo-user{
    font-size: 13px;
    color: rgb(172, 169, 169);
    text-align: center;
}

.nav .menu-salir ul{
    font-size: 14px;
    padding: 0px;
}

.nav .menu-salir.active{
    visibility: visible;
    opacity: 1;
}

.nav .menu-salir ul li{
    list-style: none;
    border-top: 1px solid #ccc;
    padding: 5px 0px;
    color: #ccc;
    cursor: pointer;
} 

.nav .menu-salir ul li i{
    margin-right: 10px;
   
}
.nav .menu-salir ul li a{
    color: rgb(43, 39, 39);
    text-decoration: none;
}

.nav .menu-salir ul li a:hover{
    color: rgb(172, 169, 169);
}
.nav .menu-salir ul li:hover{
    color: rgb(172, 169, 169);
}
/*___________________slider_________________________*/
.sidebar{
    background-color: rgb(71, 71, 241);
    color: #fff;
    width: 5%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    position:fixed; 
    top:0;
    z-index: 100;
    /*overflow: hidden;*/
}

.sidebar .check1{
    /*background: salmon;*/
    margin: 20px;
    color: #fff;

}

/*_________IMG Encabezado INICIO________________*/
.sidebar .slider-encabesado{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-weight: bold;
    position: absolute;
    color: #fff;
    top: 15px;
    left: 45px;
    font-size: 20px;
    width: 52.5px;
    height: 30px;
    display: none;
}

#check:checked ~ .sidebar .slider-encabesado{
    display: inline;
    
}
/*_________IMG Encabezado FIN________________*/


.sidebar a{
    display: block;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.sidebar .slider-text{
    padding: 10px;
}

.sidebar .slider-text:hover{
    background: rgb(94, 94, 248);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    /* border-radius: 20px; */
    /*border-bottom-left-radius: 20px;*/
}

.slider-opcion.active{
    border-left: 4px solid #fff;
}

 /*_________ long out START _______  */
 .sallir-option{
    border-top: 1px solid #ccc;
   position: relative;
   bottom: -33%;
    /* margin-top: 100px; */
}

/*_________ long out END _______  */

#sidebar_btn:hover{
    background: #5b35f1;
    cursor: pointer;
}
.sidebar a span{
    transition: 5s;
}
.sidebar a span, .check1 span{
    display: none;
}

/*____________Tooltip INICIO_______________*/
.slider-opcion .texto-emergente{
    background: rgb(71, 71, 241);
    position: absolute;
    padding: 5px 20px;
    border-radius: 15px;
    display: inline;
    left: 105%;
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
}
.slider-opcion:hover .texto-emergente{
    opacity: 1;
    visibility: visible;
}

/*____________Tooltip FIN_______________*/


.content{
    /* background: #fff;  */
    width: 95%;
    position: relative;
    float: right;
    margin-left: 15%;
    transition: 0.5s;
}


#check:checked ~ .sidebar{
    width: 15%;
    overflow: hidden;
}

#check:checked ~ .content{
    width: 85%;
}

#check:checked ~ .nav{
    width: 85%;
    
}

#check:checked ~ .sidebar a span{  
    display: inline;
    margin-left: 10px;
    position: absolute;
}

/* ____________________________________ */

.contendor-info{
    min-height: 70vh;
    width: 100%;
    background-size: cover;
    background-image: url(../imagenes/contactanos.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.caja-texto{
    width: 60%;
    padding: 10px 0px;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/* para la segunda caja de texto  */

.caja-texto h1{
    font-size: 62px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.caja-texto p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.1em;
}


/* para contacto  */
.contacto{
    width: 100%;
    /* background: #ccc; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contacto-info{
    padding: 40px 20px;
    padding-bottom: 20px;
    /* background: #5b35f1; */
    width: 70%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    margin: 40px;
    border-radius: 15px;
    /* border: 1px solid #ccc; */
    /* background: #f1f5f9; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.contendor-datos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #ccc; */
}

.botones{
    /* background: #5b35f1; */
    width: 100%;
    text-align: center;
}

.botones .boton-1{
    outline: none;
    border: 0px;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    background: #5b35f1;
    cursor: pointer;
}

.botones .boton-1:hover{
    background: rgb(98, 98, 236);
}
.caja-contacto{
    /* background: #119c85; */
    width: 49%;
    padding: 0px 10px;    
}

.caja-contacto .datos label{
    margin-bottom: 10px;
    color: rgb(68, 67, 67);
    background: #fff;
    
}

.caja-contacto .datos .title{
    font-weight: bold;
    width: 160px;
}

.caja-contacto .datos .informacion{
    width: 100px;
}

.informacion-contacto{
    /* background: #ac9619; */
    height: 400px;
    padding: 20px 0px;
    border-right: 1px solid #ccc;
}

.datos-usuario{
    /* background: #fff; */
    margin: 10px 0px;
}
.datos-usuario input{
    /* background: #ac9619; */
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.datos-usuario input:focus{
    border: 2px solid rgb(71, 71, 241);
}
#mensaje:focus{
    border: 2px solid rgb(71, 71, 241);
}

.datos-usuario textarea{
    /* background: #ac9619; */
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}


/*________ scroll bar INICIO __________*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(172, 169, 169); 
    border-radius: 10px;
  }
 /*________ scroll bar FIN __________*/

 /* footer */
 .pie-pagina{
     /* background: #3240da; */
     padding: 20px 0px;
     text-align: center;
     width: 100%;
 }


