*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.cuerpo{
    background: #f1f5f9;
}
#check{
    display: none;
}


.nav{
    background: #f8f8ff;
    width: 95%;
    float: right;
    transition: 0.5s;
    /*color del vorde inferior antes: #e0dddd */
    border-bottom: 1px solid #e0dddd;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo {
    margin-left: 20px;
    font-weight: bold;
}

.nav .logo img{
    width: 30px;
    height: 30px;
}


.nav ul {
    margin: 20px;
}

/*__________Icono Superior____________*/
.nav ul .salir{
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 10px;
    border: 1px solid #ccc;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.nav ul .salir:hover{
    background: rgb(172, 169, 169);
}

.nav ul .salir a{
    color: #fff;
}
/*__________________menu salir___________________*/
.nav .menu-salir{
    /*link tutorial: https://www.youtube.com/watch?v=04u09KBBjfM*/
    position: absolute;
    z-index: 10;/*para sobreponer*/
    width: 15%;
    left: 84%;
	top:60px;
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    visibility: hidden;
     transition: 0.2s;
    opacity: 0;
}
.nav .menu-salir .info-user{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav .menu-salir .info-user .logo-user{
    background: #ccc;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.nav .menu-salir .info-user .datos-usuario {
    width: 100%;
}
.nav .menu-salir .info-user .datos-usuario .nombre-user{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.nav .menu-salir .info-user .datos-usuario .correo-user{
    font-size: 13px;
    color: rgb(172, 169, 169);
    text-align: center;
}

.nav .menu-salir ul{
    font-size: 14px;
    padding: 0px;
}

.nav .menu-salir.active{
    visibility: visible;
    opacity: 1;
}

.nav .menu-salir ul li{
    list-style: none;
    border-top: 1px solid #ccc;
    padding: 5px 0px;
    color: #ccc;
    cursor: pointer;
} 

.nav .menu-salir ul li i{
    margin-right: 10px;
   
}
.nav .menu-salir ul li a{
    color: rgb(43, 39, 39);
    text-decoration: none;
}

.nav .menu-salir ul li a:hover{
    color: rgb(172, 169, 169);
}
.nav .menu-salir ul li:hover{
    color: rgb(172, 169, 169);
}
/*___________________slider_________________________*/
.sidebar{
    background-color: #270e8a;
    background-color: rgb(71, 71, 241);
    color: #fff;
    width: 5%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    position:fixed; 
    top:0;
    z-index: 100;
    /*overflow: hidden;*/
}

.sidebar .check1{
    /*background: salmon;*/
    margin: 20px;
    color: #fff;

}
/*_________IMG Encabezado INICIO________________*/
.sidebar .slider-encabesado{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-weight: bold;
    position: absolute;
    color: #fff;
    top: 15px;
    left: 45px;
    font-size: 20px;
    width: 52.5px;
    height: 30px;
    display: none;
}

#check:checked ~ .sidebar .slider-encabesado{
    display: inline;
    
}
/*_________IMG Encabezado FIN________________*/



.sidebar a{
    display: block;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.sidebar .slider-text{
    padding: 10px;
}

.sidebar .slider-text:hover{
    background: rgb(94, 94, 248);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    /* border-radius: 20px; */
    /*border-bottom-left-radius: 20px;*/
}

.slider-opcion.active{
    border-left: 4px solid #fff;
}
 /*_________ long out START _______  */
 .sallir-option{
     border-top: 1px solid #ccc;
    position: relative;
    bottom: -33%;
     /* margin-top: 100px; */
 }

 /*_________ long out END _______  */

#sidebar_btn:hover{
    background: #5b35f1;
    cursor: pointer;
}
.sidebar a span{
    transition: 5s;
}
.sidebar a span, .check1 span{
    display: none;
}

/*____________Tooltip INICIO_______________*/
.slider-opcion .texto-emergente{
    background: rgb(71, 71, 241);
    position: absolute;
    padding: 5px 20px;
    border-radius: 15px;
    display: inline;
    left: 105%;
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
}
/*
.slider-opcion .texto-emergente::before{
    background: #4b2dd1;
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 6%;
    top: 26%;
    transform: translateX(-50%) rotate(45deg);
}*/

.slider-opcion:hover .texto-emergente{
    opacity: 1;
    visibility: visible;
}

/*____________Tooltip FIN_______________*/


.content{
    width: 95%;
    position: relative;
    float: right;
    margin-top: 20px;
    margin-left: 15%;
    transition: 0.5s;
}


#check:checked ~ .sidebar{
    width: 15%;
    overflow: hidden;
}

#check:checked ~ .content{
    width: 85%;
}

#check:checked ~ .nav{
    width: 85%;
    
}


#check:checked ~ .sidebar a span{  
    display: inline;
    margin-left: 10px;
    position: absolute;
}




/*______________CAR principal Inicio_______*/
.card-main{
    width: 95%;
    margin: 2rem auto;
    display: flex;
    /* height: 200px; */
    /*border: 1px solid #dddddd;*/
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 4px rgba(153, 150, 150, 0.25);
}

.card-imagen{
    width: 30%;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.card-imagen img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card-content{

    width: 70%;
    height: 100%;
}
.info-tema{
    width: 100%;
    height: 60%;
    /* background: #ccc; */
}

.car-title, .res-concept{
    width: 95%;
    margin: 1rem auto;
}

.estandar-utilizado{
    width: 95%;
    margin: 1rem auto;
}

.ir-referencia{
    text-decoration: none;
    width: 40%;
    text-align: center;
    padding: 3px 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(88, 86, 86);
}

.estandar-utilizado .ir-referencia:hover{
    color: #5b35f1;
}


.car-title{
    font-weight: bold;
    height: 20%;
}

.res-concept{
    height: 60%;

}
.car-title{
    font-size: 20px;
}
.res-concept{
    font-size: 15px;
}
/* Loader Inicio */
/* Loader Spet INICIO */
.card-loader-0{
    /* background: chartreuse; */
    width: 45px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}

#preloader_2 {
    position: relative;
}

#preloader_2 span {
    display: block;
    bottom: 0px;
    width: 2px;
    height: 1px;
    background: #fff;
    position: absolute;
    animation: preloader_2 1.5s infinite ease-in-out;
}

#preloader_2 span:nth-child(2) {
    left: 11px;
    animation-delay: .2s;

}

#preloader_2 span:nth-child(3) {
    left: 22px;
    animation-delay: .4s;
}

#preloader_2 span:nth-child(4) {
    left: 33px;
    animation-delay: .6s;
}

#preloader_2 span:nth-child(5) {
    left: 44px;
    animation-delay: .8s;
}

@keyframes preloader_2 {
    0% {
        height: 2px;
        transform: translateY(0px);
        background: #fff;
    }

    25% {
        height: 27px;
        transform: translateY(15px);
        background: rgb(106, 37, 235);
    }

    50% {
        height: 2px;
        transform: translateY(0px);
        background: #fff;
    }

    100% {
        height: 2px;
        transform: translateY(0px);
        background: #fff;
    }
}
/* Loader Spet FIN */


.card-loader{
    /* background: rgb(226, 139, 40); */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-loader-1{
    /* background: chartreuse; */
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#preloader_1 {
    position: relative;
}

#preloader_1 span {
    display: block;
    bottom: 0px;
    width: 9px;
    height: 5px;
    background: #fff;
    position: absolute;
    animation: preloader_1 1.5s infinite ease-in-out;
}

#preloader_1 span:nth-child(2) {
    left: 11px;
    animation-delay: .2s;

}

#preloader_1 span:nth-child(3) {
    left: 22px;
    animation-delay: .4s;
}

#preloader_1 span:nth-child(4) {
    left: 33px;
    animation-delay: .6s;
}

#preloader_1 span:nth-child(5) {
    left: 44px;
    animation-delay: .8s;
}

@keyframes preloader_1 {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #fff;
    }

    25% {
        height: 30px;
        transform: translateY(15px);
        background: rgb(106, 37, 235);
    }

    50% {
        height: 5px;
        transform: translateY(0px);
        background: #fff;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background: #fff;
    }
}
/* Loader fig */
/*____________*/
.cards-stats{

    display: flex;
    justify-content: center;
    text-align: center;
    height: 30%;
    font-size: 15px;
    padding: 15px;
}

.stats, .buton-siguiente{
   color: #fff;
    width: 30%;
}

.stats{
    color: #969393;
}

.button{
    padding: 0.5rem 1rem;
    display: inline-block;
    background: rgb(71, 71, 241);
    border-radius: 0.6rem;
    color: #fff;
    text-decoration: none;
}

.button:hover{
    background: rgb(98, 98, 236);
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

/*__________________Preguntas INICIO________________________-*/

/*_____________________________Acordion INICIO____________________*/
.contenido {
    width: 95%;
    margin: 2rem auto;
    background: #fff;
    box-shadow: 0 0 4px rgba(153, 150, 150, 0.25);
    border: 1px solid #fff;/*si esnto se coprime el contorno de las preguntas*/
    border-radius: 5px;
}

.acordion{
    width: 95%;
    margin: 2rem auto;
    background: #fbfbfb;
    font-size: 14.5px;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border: 1px solid #969393;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(175, 172, 172, 0.5);
    
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    /*font-weight: bold;*/
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #111;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    margin: 30px;
    background:rgba(184, 179, 179, 0.28);
    border-radius: 0.5rem;
    overflow: hidden;
}

.accordion-item-body-content .preguntas{
    float: left;
    width: 65%;
    margin-bottom: 10px;
    margin-left: 15px;
}

.accordion-item-body-content .radio-button{
    float: right;
    width: 25%;
    margin-bottom: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 /* titulo de las preguntas y opciones  */
 .accordion-item-body-content .options{
    /* background: chartreuse; */
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #ccc;
    font-weight: bold;
}

.accordion-item-body-content .options .questions{
    /* background: coral; */
    width: 65%;
    display: flex;
    align-items: center;
}

.si-no-parcial-no-aplica{
    width: 27%;
    /* background: rosybrown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.si-no-parcial-no-aplica div{
    width: 40px;
    /* background: cornsilk; */
    text-align: center;
}
/* ______________________ */


.accordion-item-body-content .radio-button span{
    margin-left: 5px;
}

.coment{
    padding: 1rem;
    line-height: 1.5rem;
    margin: 10px 30px;
    background:rgba(184, 179, 179, 0.28);
    border-radius: 0.5rem;
    display: flex; 
}
.coment textarea{
    font-size: 13px;
    border-radius: 5px;
    width: 100%;
    height: 60px;/*tamano del textarea de COMENTARIOS*/
}

.coment textarea:focus{
    border: 2px solid rgb(71, 71, 241);
    outline: 0;
}
/*______________________________________*/
.buton-enviar{
    margin-right: 30px;
    margin-bottom: 15px;
    float: right;
}


.enviar{
    padding: 0.5rem 1rem;
    display: inline-block;
    background: rgb(71, 71, 241);
    border-radius: 0.6rem;
    color: #fff;
    border: none;
}

/* eliminar el border luego de hacer click */
.enviar:focus {
    outline: none;
    box-shadow: none;
}

.enviar:hover{
    background: rgb(98, 98, 236);
    cursor: pointer;
}

.respondido{
    display: flex;
}
.si-respondido{
    background: #961010;
    font-size: 12px;
    color: #fff;
    padding: 5px;
}
.no-respondido{
    background: yellow;
    font-size: 12px;
    color: #fff;
    padding: 5px;
    display: none;
    color: #000;
}
.contenido-acordion-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/*______________________________________*/
/*_____________________________Acordion INICIO____________________*/

/*__________________Preguntas FIN________________________-*/
/*______________________Step-step INICIO_______________________*/
.stepper-wrapper {
    background: #fff;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 95%;
    margin: 0px auto;
    box-shadow: 0 0 4px rgba(153, 150, 150, 0.25);
    border-radius: 5px;
    /*border-bottom: 1px solid rgb(148, 143, 143);*/
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  /*baras*/ 
  .stepper-item::before {
    position: absolute;
    content: "";
    height: 5px;
    background: #ccc;
    width: 100%;
    top: 18px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid rgba(165, 165, 165, 0.1);
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }

  .stepper-item.active + .stepper-item::before{
    background: rgb(71, 71, 241);
    background: rgb(41,41,242);
background: linear-gradient(0deg, rgba(41,41,242,1) 31%, rgba(172,17,233,1) 100%);
    }
  
    .stepper-item .step-counter {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ccc;
        margin-bottom: 6px;
        border: 1px solid #ccc;
      }
  
      .step-counter.active{
          color: #fff;
          background: rgb(71, 71, 241);
          background: rgb(41,41,242);
background: linear-gradient(0deg, rgba(41,41,242,1) 31%, rgba(172,17,233,1) 100%);
      }
    
      
    
      .stepper-item .step-counter {
        /*background-color: #a899e2;*/
        border: 1px solid #ccc;
      }
      

  .step-name{
    font-size: 13px;
    text-align: center;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }

  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    /*border-bottom: 1px solid #a899e2;*/
    border-bottom: 1px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

/*______________________Step-step FIN_______________________*/

/*________ scroll bar INICIO __________*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(172, 169, 169); 
    border-radius: 10px;
  }
 /*________ scroll bar FIN __________*/