*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.cuerpo{
    background: #f1f5f9;
}
#check{
    display: none;
}



.nav{
    background: #f8f8ff;
    width: 95%;
    float: right;
    transition: 0.5s;
    /*color del vorde inferior antes: #e0dddd */
    border-bottom: 1px solid #e0dddd;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo {
    margin-left: 20px;
    font-weight: bold;
}

.nav .logo img{
    width: 30px;
    height: 30px;
}


.nav ul {
    margin: 20px;
}

/*__________Icono Superior____________*/
.nav ul .salir{
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 10px;
    border: 1px solid #ccc;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.nav ul .salir:hover{
    background: rgb(172, 169, 169);
}

.nav ul .salir a{
    color: #fff;
}
/*__________________menu salir___________________*/
.nav .menu-salir{
    /*link tutorial: https://www.youtube.com/watch?v=04u09KBBjfM*/
    position: absolute;
    z-index: 10;/*para sobreponer*/
    width: 15%;
    left: 84%;
	top:60px;
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    visibility: hidden;
     transition: 0.2s;
    opacity: 0;
}
.nav .menu-salir .info-user{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav .menu-salir .info-user .logo-user{
    background: #ccc;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.nav .menu-salir .info-user .datos-usuario {
    width: 100%;
}
.nav .menu-salir .info-user .datos-usuario .nombre-user{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.nav .menu-salir .info-user .datos-usuario .correo-user{
    font-size: 13px;
    color: rgb(172, 169, 169);
    text-align: center;
}

.nav .menu-salir ul{
    font-size: 14px;
    padding: 0px;
}

.nav .menu-salir.active{
    visibility: visible;
    opacity: 1;
}

.nav .menu-salir ul li{
    list-style: none;
    border-top: 1px solid #ccc;
    padding: 5px 0px;
    color: #ccc;
    cursor: pointer;
} 

.nav .menu-salir ul li i{
    margin-right: 10px;
   
}
.nav .menu-salir ul li a{
    color: rgb(43, 39, 39);
    text-decoration: none;
}

.nav .menu-salir ul li a:hover{
    color: rgb(172, 169, 169);
}
.nav .menu-salir ul li:hover{
    color: rgb(172, 169, 169);
}
/*___________________slider_________________________*/

.sidebar{
    background-color: rgb(71, 71, 241);
    color: #fff;
    width: 5%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    position:fixed; 
    top:0;
    z-index: 100;
    /*overflow: hidden;*/
}

.sidebar .check1{
    /*background: salmon;*/
    margin: 20px;
    color: #fff;

}

/*_________IMG Encabezado INICIO________________*/
.sidebar .slider-encabesado{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-weight: bold;
    position: absolute;
    color: #fff;
    top: 15px;
    left: 45px;
    font-size: 20px;
    width: 52.5px;
    height: 30px;
    display: none;
}

#check:checked ~ .sidebar .slider-encabesado{
    display: inline;
    
}
/*_________IMG Encabezado FIN________________*/


.sidebar a{
    display: block;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.sidebar .slider-text{
    padding: 10px;
}

.sidebar .slider-text:hover{
    background: rgb(94, 94, 248);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    /* border-radius: 20px; */
    /*border-bottom-left-radius: 20px;*/
}

.slider-opcion.active{
    border-left: 4px solid #fff;
}

/*_________ long out START _______  */
.sallir-option{
    border-top: 1px solid #ccc;
   position: relative;
   bottom: -33%;
    /* margin-top: 100px; */
}

/*_________ long out END _______  */

#sidebar_btn:hover{
    background: #5b35f1;
    cursor: pointer;
}
.sidebar a span{
    transition: 5s;
}
.sidebar a span, .check1 span{
    display: none;
}

/*____________Tooltip INICIO_______________*/
.slider-opcion .texto-emergente{
    background: rgb(71, 71, 241);
    position: absolute;
    padding: 5px 20px;
    border-radius: 15px;
    display: inline;
    left: 105%;
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
}
/*
.slider-opcion .texto-emergente::before{
    background: #4b2dd1;
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 6%;
    top: 26%;
    transform: translateX(-50%) rotate(45deg);
}*/

.slider-opcion:hover .texto-emergente{
    opacity: 1;
    visibility: visible;
}

/*____________Tooltip FIN_______________*/


.content{
    background: #fff; 
    width: 95%;
    position: relative;
    float: right;
    margin-top: 20px;
    margin-left: 15%;
    transition: 0.5s;
}


#check:checked ~ .sidebar{
    width: 15%;
    overflow: hidden;
}

#check:checked ~ .content{
    width: 85%;
}

#check:checked ~ .nav{
    width: 85%;
    
}


#check:checked ~ .sidebar a span{  
    display: inline;
    margin-left: 10px;
    position: absolute;
}


.contenido{
    width: 95%;
    margin: 2rem auto;
}

#contenido-resultados{
    display: none;
}


/*_____________Resultados Inicio_________________*/

.resultados{
    background: #fff;
    width: 100%;
    height: 60px;
    float: left;
    border-bottom: 1px solid #e0dddd;
}

.titulo-resultado {
    margin-left: 30px;
    float: left;
    line-height: 60px;
    color: rgb(128, 114, 114);
    font-size: 20px;
}

.opciones{
    float: right;
    margin-right: 20px;
}

.opciones li{
    display: inline-block;
    margin: 0 5px;
    line-height: 60px;
}

.opciones li a{
    text-decoration: none;
    color: rgb(128, 114, 114);
}



.opciones li a:hover{
    color: rgb(73, 70, 70);
}

.opciones li a i{
    margin: 5px;
}
/*_____________Resultados FIN_________________*/

/*_____________Taps INICIO_________________*/

.wrapper{
	width: 100%;
	margin: 5rem auto;
}

/* cabecera Informe INICIO  */

.info-usuario-empresa{
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 25px;
    padding: 20px;
}

.cabecera-informe{
    width: 96%;
    margin-top: 3px;
    margin: auto;
}
 .cabezera-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(133, 128, 128);
    font-size: 14px;
    border-bottom: 5px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.cabezera-user .info-user .titulo-info-user{
    font-weight: bold;
    font-size: 20px;
}

 .cabezera-user .info-user .correo-usuario{
    color: rgb(104, 104, 240);
}

.cabezera-user img{
    width: 85px;
    height: 85px;
}

/*cabecera empresa*/


.tabs ul{
	display: flex;
    justify-content: center;
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 25px;
}


.tabs ul li{
	width: 250px;
	padding: 15px;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
    list-style: none;
}



.tabs ul li .icon{
	font-size: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #5b35f1;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #e3dff7;
	color: #5b35f1;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}

.content-tabs{
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 20px;
}

.tab_wrap .title{
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 600;
}

.tab_wrap .title-main{
	border-bottom: 3px solid #ccc;
}


.tab_wrap .title .titulo-graficas{
    width: 100%;
}

.tab_wrap .divisor-titulo-graficas{/*00000000000000000000000000000000000000000000000*/
    border-bottom: 3px solid #ccc;
    margin-bottom: 5px;
}
/*segundo tab de graficas*/
.tabs-1 ul{
    display: flex;
    justify-content: center;
	background: #fff;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 25px;
}


.tabs-1 ul li{
	width: 250px;
	padding: 5px;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
    list-style: none;
}



.tabs-1 ul li .icon{
	font-size: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

.tabs-1 ul li:last-child{
	border-right: 0px;
}

.tabs-1 ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #5b35f1;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs-1 ul li:hover,
.tabs-1 ul li.active{
	background: #e3dff7;
	color: #5b35f1;
}

.tabs-1 ul li:hover:before,
.tabs-1 ul li.active:before{
	opacity: 1;
}

.content-tabs-1{
	background: #fff;
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 20px;
}
/*_____________Taps FIN_________________*/
/*_____________COntaniner puntaje total Inicio_________________*/
.puntaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background: #fff;
}
.puntaje .info-general{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info-puntage-evaluado{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.dim-evaluadas-integracion, .tem-evaluados-integracion{
    font-style: oblique;
    /* text-decoration: underline; */
    font-weight: bold;
}

.resultado-integracion{
    font-style: oblique;
    font-weight: bold;
}

.resultado-integracion-todo{
    font-style: oblique;
    font-weight: bold;
}

.titulo-dim, .titulo-tem, .titulo-sub-temas{
    font-weight: bold;
    width: 100%;
    padding-left: 5px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 5px;
    /* background: rgb(246,246,249);
background: linear-gradient(180deg, rgba(246,246,249,1) 25%, rgba(210,212,223,1) 78%); */
padding: 2px 0;
/* text-align: center; */
/* border-radius: 5px; */
} 

.titulo-retroalimentacion-integracion{
    font-weight: bold;
    /* border-bottom: 2px solid #ccc; */
    margin-bottom: 5px;
    background: rgb(246,246,249);
background: linear-gradient(180deg, rgba(246,246,249,1) 25%, rgba(210,212,223,1) 78%);
padding: 5px 10px;
}

.info-puntage-evaluado .num-dim-evaluados,  .info-puntage-evaluado .num-temas-evaluados,  .info-puntage-evaluado .num-indi-evaluados{
    width: 30%;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 5px;

}



.puntaje .info-total,.puntaje .puntaje-total,.puntaje .grafica-general{
    background: #fff;
    border: 1px solid #dddddd;
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

.puntaje .info-temas-indicadores{
    /* border: 1px solid #dddddd; */
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: #fff;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.puntaje .info-temas-indicadores .titulo-temas-inidcadores{
    width: 97%;
    text-align: center;
    /* border-bottom: 1px solid #dddddd; */
    /* font-size: 20px; */
    font-weight: bold;
    padding-top: 5px;
    margin: 10px;
    background: rgb(246,246,249);
    background: linear-gradient(180deg, rgba(246,246,249,1) 25%, rgba(210,212,223,1) 78%);
    border-radius: 5px;

}

.puntaje .info-temas-indicadores .tabla-temas-indicadores{
    width: 97%;
    margin-bottom: 10px;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.25); */
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* ___________Puntaje Gobal Especifico _____________ */
.info-global-especifica{
    width: 97%;
    margin: 20px auto;
    /* padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 5px; */
}



.info-global-especifica .info-puntaje-gloabal-especifico .titulo-especifico, .info-global-especifica .info-puntaje-gloabal-especifico .titulo-global{
    font-weight: bold;
    border-bottom: 4px solid #ccc;   
    margin: 20px 0;
}

.info-especifico, .info-global{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* font-size: 14px; */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 20px;
    border-radius: 5px;
}
.info-espe, .info-glob{
    /* background: #80cbc4; */
    width: 50%;
    /* font-size: 18px; */
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.graficas-especifico{
    /* background: #786aaf; */
    width: 45%;
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
}

/* svg{
    background: chartreuse;
} */

.char-barra-cirular-especifico {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.char-barra-cirular-global{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .chart-container-global{
    font-size: 9px;
    background: #369681;
} */


.title-especifico-global{
    font-weight: bold;
    /* font-size: 20px;s */
    margin-bottom: 5px;
    background: rgb(246,246,249);
    background: linear-gradient(180deg, rgba(246,246,249,1) 25%, rgba(210,212,223,1) 78%);
    padding: 5px;
    /* text-align: center; */
    margin: 10px 0;
    /* border-bottom: 3px solid #ccc; */
    border-radius: 5px;
    text-align: center;
}

.title-especifico, .title-global, .info-puntaje-evaluado-titulo{
    border-bottom: 3px solid #ccc;
    padding: 0 5px;
    margin: 10px auto;
    font-size: 14px;
    font-weight: bold;
}

.info-especifico-grafica{
    display: flex;
}

.info-global-grafica{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.retroalimentacion-global{
    font-size: 12px;
}

.info-glob, .puntaje-global, .grafica-global{
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.puntaje-global{
    width: 20%;
}
/* _________________________ */

.puntaje-total {
    text-align: center;

}

.barra_progres_total progress{
    width: 85%;
}

.puntaje-total-valor-numerico span{
    font-size: 70px;
}


.tab_content .title{
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
/*__________________________________________________________*/
.puntaje-dimensiones{
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.info-total-dimension-social, .info-total-dimension-ambiental{
    background: #fff;
    border: 1px solid #dddddd;
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.info-total-dimension-social .title{
    background: rgba(148, 194, 235,0.2);
    background: rgb(189,215,241);
background: linear-gradient(180deg, rgba(189,215,241,1) 10%, rgba(190,224,255,1) 49%);
}

.info-total-dimension-ambiental .title{
    background: rgba(140, 209, 191, 0.2);
    background: rgb(100,206,207);
background: linear-gradient(180deg, rgba(100,206,207,1) 19%, rgba(94,229,194,1) 73%);
background: rgb(151,255,228);
background: linear-gradient(180deg, rgba(151,255,228,1) 25%, rgba(109,243,208,1) 73%);
}

.retroalimentacion-puntaje{
    width: 100%;
    display: flex;
    /* esto no estaba */
    align-items: center;
    justify-content: space-between;
}

.retroalimentacio-puntaje-dim{
    width: 65%;/*era 70 antes*/
    /* height: 100%; */
    /* border: 1px solid #dddddd; */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 5px;
  }

.retroalimentacion-social, .retroalimentacion-ambiental{
    width: 95%;
    margin: 10px auto;
    font-size: 14px;
}
  
.titulo-retroalimentacion-puntaje{
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #e0dddd;
    background: #f1f5f9;
    background: rgb(241,245,249);
background: linear-gradient(0deg, rgba(241,245,249,1) 26%, rgba(234,234,234,1) 98%);
}

.puntaje-dimension{
    width: 30%;
    height: 100%;
    text-align: center;
    /* border: 1px solid #dddddd; */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 5px;
}

.barra_progres_social, .barra_progreso_ambiental{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

/* .puntaje-dimension .puntaje-numerico{
    font-size: 28px;
}

.barra_progres_social progress, .barra_progreso_ambiental progress{
    width: 80%;
} */
.tablas-puntajes-totales-dimensiones{

    margin-top: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;/*esto no estaba*/
    
}
.temas-clasficacion{
    width: 100%;
    text-align: center;
    border: 1px solid #dddddd;
    background: #f1f5f9;
        background: rgb(241,245,249);
    background: linear-gradient(0deg, rgba(241,245,249,1) 26%, rgba(234,234,234,1) 98%);
    
}

.temas-clasficacion p{
    margin: 5px;
}


.opciones-mejora{
    display: flex;
    justify-content: center;
}

.container-info{
    border: 0.01px solid #dddddd;
    width: 35%;
}

.tema-puntaje{
    display: flex;
    border-bottom: 0.3px solid #dddddd;
    font-size: 12px;
    /* text-transform: lowercase; */
    width: 100%;
}


.titulo-info{
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 0.5px solid #dddddd;    
}


#estable{
    background: rgba(140, 209, 191, 0.2);
    background: rgb(85,235,196);
background: linear-gradient(0deg, rgba(85,235,196,1) 37%, rgba(198,252,238,1) 98%);
background: rgb(177,253,186);
background: linear-gradient(180deg, rgba(177,253,186,1) 25%, rgba(148,255,160,1) 73%);
}
#poco-estable{
    background: rgba(194, 209, 140, 0.2);
    
background: rgb(240,237,58);
background: linear-gradient(0deg, rgba(240,237,58,1) 37%, rgba(254,255,224,1) 98%);
background: rgb(255,254,173);
background: linear-gradient(180deg, rgba(255,254,173,1) 25%, rgba(255,253,133,1) 73%);

}
#no-estable{
    background: rgba(209, 140, 140, 0.2);
    background: rgb(201,20,57);
background: linear-gradient(0deg, rgba(201,20,57,1) 46%, rgba(233,17,156,1) 100%);
background: rgb(232,100,100);
background: linear-gradient(0deg, rgba(232,100,100,1) 37%, rgba(237,187,187,1) 98%);
background: rgb(255,176,176);
background: linear-gradient(180deg, rgba(255,176,176,1) 25%, rgba(255,140,140,1) 73%);

}
.tema-info{
    width: 70%;
    margin-left: 5px;
    margin-bottom: 5px;
}
.puntaje-info{
    width: 25%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
}
/*_____________COntaniner puntaje total FIN_________________*/

/*_________________________Graficas INICIO________________________________*/


.grafica-temas, .grafica-dimension{
    text-align: center;
}

.contenedor-graficas-temas, .contenedor-graficas-dimensiones{
    border: 1px solid #dddddd; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

#grafica-polar{
    border: 1px solid #dddddd; 
    margin: 20px auto;
    /* padding: 10px; */
    display: block;
    display: flex;
    align-items: center;
}


.grafica-zoomable-sunburst{
    padding: 10px;
    /* height: 500px; */
    width: 66%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.contedor-leyendas{
    width: 30%;
    margin-right: 30px;
}

/* **************** Leyendas grafica polar(circular) ************** */
.legenda {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    font-size: 10px;
    height: 280px;
}

.titulo-leyenda {
    background: rgb(236, 233, 233);
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    font-weight: bold;
    margin-bottom: 3px;
}

.titulo-leyenda .valor {
    width: 150px;
    text-align: center;
}

.container-leyendas{
    height: 240px;
    width: 100%;
    overflow: auto;
}
.legend {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    /* background: rgb(153, 58, 58); */
    font-size: 10px;
    border-bottom: 1px solid #ccc;
    padding: 3px 0px;

}

.legend .rect {
    margin-right: 5px;
    /* background: lemonchiffon; */
}

.legend span {
    width: 110px;
}

.niveles-integracion {
    margin-top: 30px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
    font-size: 10px;
    
}
.nivels{
    display: flex;
    /* background: red; */
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nivel{
    width: 80%;
}

.cuadro{
    width: 15px;
    height: 15px;
    border: 1px solid #000;
}

.cuadro-alto{
    background: green;
}

.cuadro-medio{
    background: yellow;
}

.cuadro-bajo{
    background: red;
}

.cuadro-no-registrado{
    background: #ccc;
}


/* **************************************************************** */

#grafica-radar{
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #dddddd; 
    /* width: 600px;
    height: 550px; */
    display: none;
}

#grafica-bar-horizontal{
    display: block;
}

#grafica-bar-vertical{
    display: none;
}

.info-temas-titulo, .info-dim-titulo{
    border-bottom: 3px solid #ccc;
    color: #706d6d;
    font-size: 17px;
    font-weight: bold;
}

select{
    padding: 0px 30px;
    border-radius: 15px;
    outline: none;  
    border: none;
    color: #706d6d;
    background: #f1f5f9;
    cursor: pointer;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.25); */
    border: 1px solid #ccc;
}

select:hover{
    background: rgb(118, 118, 241);
    color: #fff;
}

.elegir-vista-graficas-temas, .info-temas-titulo{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.elegir-vista-graficas-dim, .info-dim-titulo{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

/*____________________________________________________________*/

/*_________________________Graficas FIN________________________________*/

.tabla-info-temas{
	text-align: left;
	border-collapse: collapse;
	width: 100%;
    font-size: 14px; /*no estaba*/
}
.tabla-info-temas .tabla-cabecera-temas .cabecera-titutlo{
    display: flex;   
    border-bottom: solid 5px #0F362D;
    font-weight: bold;
}

.tabla-info-temas .tabla-cabecera-temas .cabecera-titutlo .titulo-nombre{
    width: 40%;
    display: flex;
}

.tabla-info-temas .tabla-cabecera-temas .cabecera-titutlo .titulo-valor, .tabla-info-temas .tabla-cabecera-temas .cabecera-titutlo .titulo-impacto{
    width: 30%;
    text-align: center;
}


.tabla-info-temas .titulo, .tabla-info-temas .fila .fila-contenct{
	padding: 10px; /*estaba 20*/
}

.tabla-info-temas .titulo, .tabla-info-temas .fila .fila-contenct img{
    margin-right: 10px;
}
.tabla-info-temas .cuerpo-tabla-temas .fila .info-tema{
    display: flex;
}


.tabla-info-temas .cuerpo-tabla-temas .fila .nom-img-temas{
    width: 40%;
    display: flex;
    align-items: center;
}
.tabla-info-temas .cuerpo-tabla-temas .fila .impacto-tema, .tabla-info-temas .cuerpo-tabla-temas .fila .barra-tema{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabla-info-temas .contenido-indicador:nth-child(even){
	background-color: #ddd;
    background: #f1f5f9;
    border-bottom: 0.3px solid #ccc;
    border-top:  0.3px solid #ccc;
}

.tabla-info-temas .cuerpo-tabla-temas .fila .info-tema:hover{
	background-color: #369681;
    background: rgb(118, 118, 241);
	color: white;
    cursor: pointer;
}

.tabla-info-temas  .imagen{
    height:40px;
   width:40px;
   -moz-border-radius:50px;
   -webkit-border-radius:50px;
   border-radius:50px;
   margin-right: 5px;
   left: 0px;
   border: 1px solid #ccc;
}

.grafica-barra-temas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 163px;
}

.tabla-info-temas .contorno{
    background: rgb(241, 241, 227);
    border: 1px solid #ccc;
    width: 152px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    margin-left: 3px;
    margin-top: -5px;
}


.tabla-info-temas .valor{
    background-image: radial-gradient(circle at 50% -20.71%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);
    width: 90%;
    height: 100%;
    margin-right: 10px;
    border-top-left-radius:  5px;
    border-bottom-left-radius:   5px;
}

.vertical-line{ 
    width: 0.5px; /* Line width */ 
    background-color: rgb(95, 92, 92); /* Line color */ 
    height: 100%; /* Override in-line if you want specific height. */ 
    float: left; /* Causes the line to float to left of content. You can instead use position:absolute or display:inline-block if this fits better with your design */ 
}

.linea-vertical{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.linea-vertical span{
    font-size: 10px;
    color: rgb(95, 92, 92);
}

/* cuadro para los temas no registardos por el usuario */

.tema-no-evalaudo{
    background: #b8babb;

    padding: 5px 10px;
    width: 100%;
    color: #fff;
    text-align: center;
}


/*_________________________________________________________________-*/
#chart {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

#chart path {
    fill: none;
}

/* layers */
#chart .layer-0 path {
    fill: steelblue;
}

#chart .layer-1 path {
    fill: white !important;
    opacity: 0.3;
    stroke-width: 2px;
    stroke: #999;
}

/* Outer circle, tick-circles and spokes */
#chart circle.outer {
    stroke: #000;
    stroke-dasharray: 4, 4;
}

#chart .tick-circles circle {
    stroke: rgb(160, 157, 157);/*circulo interiror*/
    stroke-dasharray: 2, 2;
}

#chart .spokes line {
    stroke: #000;/*lineas*/
    stroke-width: 0.2;
}

/* Axis */
#chart .axis text {
    font-size: 11px;
}

#chart .axis path {
    stroke: rgb(160, 157, 157);/*linea principal*/
    shape-rendering: crispEdges;
}

#chart .axis line {
    stroke: rgb(160, 157, 157);/*guion de los numeros*/
    shape-rendering: crispEdges;
}

/* Labels */
#chart .labels text {
    fill: #000;
    font-size: 10px;
    font-weight: 500;
}

/* update button */
#update {
    width: 100px;
    height: 30px;
    cursor: pointer;
}


/*____________________________________________*/
#bar-dimesniones{
    border: 1px solid #ccc;
    width: 60%;
    margin: 10px auto;
}

#radial-dimensiones{
    border: 1px solid #ccc;
    width: 90%;
    margin: 10px auto;
    display: none;
}

/*_______ INDICACORES Tabla_________*/
.tabla-info-indicadores{
    background: #fbfbfb;
    background: #f1f5f9;
    background: rgba(184, 179, 179, 0.28);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 20px;
}
.tabla-info-indicadores .tabla-indicadores-titulo{
    width: 70%;
    border: 1px solid #ccc;
    margin: auto;
    background: #fff;
    border-radius: 5px;
}

.tabla-info-indicadores .tabla-indicadores-titulo .cabecera-tabla{
    display: flex;
    font-weight: bold;
    align-items: center;
    border-bottom: solid 5px #0F362D;
}

.tabla-info-indicadores .tabla-indicadores-titulo .cabecera-tabla .titulo-1{
    padding: 10px;
    width: 75%;
}

.tabla-info-indicadores .tabla-indicadores-titulo .cuerpo-tabla .contendio-1{
    padding: 10px;
    width: 75%;
}

.tabla-info-indicadores .tabla-indicadores-titulo .cuerpo-tabla .visto-bueno{
    color: green;
}

.tabla-info-indicadores .tabla-indicadores-titulo .cuerpo-tabla .visto-regular{
    color: yellow;
}
.tabla-info-indicadores .tabla-indicadores-titulo .cuerpo-tabla .visto-malo{
    color: red;
}

.tabla-info-indicadores .tabla-indicadores-titulo .cuerpo-tabla .visto-no-registrado{
    color:  #000;
}  

.tabla-info-indicadores .tabla-indicadores-titulo .cabecera-tabla .titulo-2{
    padding: auto;
    width: 25%;
    text-align: center;
}

.tabla-info-indicadores .tabla-indicadores-titulo .cuerpo-tabla .contenido-2{
    padding: auto;
    width: 25%;
    text-align: center;
    cursor: pointer;
}

.tabla-info-indicadores .tabla-indicadores-titulo .cuerpo-tabla .cuerpo-fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.tabla-info-indicadores .tabla-indicadores-titulo .cuerpo-tabla .cuerpo-fila:nth-child(even){
	background-color: #ddd;
    background: #f1f5f9;
    border-bottom: 0.3px solid #ccc;
    border-top:  0.3px solid #ccc;
}

.mostrar-info-indicadores{
    background: chartreuse;
}
/* .contenido-indicador.active .tabla-info-indicadores{ this was before  */
.info-tema.active ~ .tabla-info-indicadores{
    display: block;
}

.texto-emergente-indicador{
    /* background: rgb(71, 71, 241); */
    position: absolute;
    padding: 3px 15px;
    border-radius: 5px;
    display: inline;
    /* left: 20%; */
    left: 73%;
    /* z-index: 1000; */
    visibility: hidden; 
    transition: 0.2s;
    opacity: 0;
    font-size: 10px;
    color: #000;
    font-weight: bold;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}


.contenido-2:hover .texto-emergente-indicador{
    opacity: 1;
    visibility: visible;
}

.emergente-bueno{
    background: rgb(177,253,186);
background: linear-gradient(180deg, rgba(177,253,186,1) 25%, rgba(148,255,160,1) 73%);
}

.emergente-regular{
    background: rgb(255,254,173);
background: linear-gradient(180deg, rgba(255,254,173,1) 25%, rgba(255,253,133,1) 73%);
}

.emergente-malo{
    background: rgb(255,176,176);
background: linear-gradient(180deg, rgba(255,176,176,1) 25%, rgba(255,140,140,1) 73%);
}

.visto-no-registrado{
    background: #e6e8e8;
    text-align: center;
    padding: 5px 20px;
    font-size: 10px;
    /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); */
    color: #fff;
}

.emergente-no-utilizado{
    left: 76.5%;
    background: rgb(246,246,249);
    background: linear-gradient(180deg, rgba(246,246,249,1) 25%, rgba(227,229,233,1) 78%);
}

/* ______________grafica BARRAS DIMENSIONES________________ */
#grafica-bar-dim {
    /* width: 700px;
    height: 500px; */
    margin: auto;
    background-color: #2F4A6D;
    background-color: #fff;
}
/* 
svg {
    width: 100%;
    height: 100%;
} */

.barras_dim {
    fill: #80cbc4;
}

text {
    font-size: 12px;
    /* fill: #fff;
    fill: black; */
}

/* path {
    stroke: gray;
} */

line {
    stroke: gray;
}

line#limit {
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 6;
}

.grid path {
    stroke-width: 0;
}

.grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
}

text.divergence {
    font-size: 12px;
    fill: #2F4A6D;
}

text.value {
    font-size: 12px;
}

text.title {
    font-size: 22px;
    font-weight: 600;
}

text.label {
    font-size: 12px;
    font-weight: 400;
}

text.source {
    font-size: 10px;
}
/* ______________________ GRAFICA Dona Dimensiones __________________ */

        /*Styling for the lines connecting the labels to the slices*/
        polyline {
            opacity: .3;
            stroke: black;
            stroke-width: 2px;
            fill: none;
        }

        /* Make the percentage on the text labels bold*/
        .labelName tspan {
            font-style: normal;
            font-weight: 700;
        }

        /* In biology we generally italicise species names. */
        .labelName {
            font-size: 0.9em;
            font-style: italic;
        }

        .grafica-zoomable-sunburst{
            padding: 10px;
            /* height: 500px; */
            width: 600px; 
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
        
        .slice {
            cursor: pointer;
        }

        .slice .main-arc {
            stroke: #fff;
            stroke-width: 1px;
        }

        .slice .hidden-arc {
            fill: none;
        }

        .slice text {
            pointer-events: none;
            /* dominant-baseline: middle; */
            text-anchor: middle;
            font-size: 17px;
        }

/* Grafica Barras Horizontal */
.titulo-bar-horizontal{
    font-weight: bold;
    font-size: 16px;
}

/*________ scroll bar INICIO __________*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(172, 169, 169); 
    border-radius: 10px;
  }
 /*________ scroll bar FIN __________*/

/* zoom  */
div.tooltip-zoom {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    display: none;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

div.tooltip-zoom div {/*antes de div estaba p*/
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
}

/* .svg-zoomable{
    background: #999;
 
} */


/*_________________ Loader resultados INICIO  ______________________*/
.loader-resultados {
    width: 100%;
    /* border: 2px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

.loader-mensaje-error{
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    color: rgb(148, 147, 147);
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 50px;
}

.border-loader {
    /* border: 3px solid #272b33; */
    height: 5px;
    width: 40%;
    padding: 5px;
    background: rgb(246,246,249);
    background: linear-gradient(180deg, rgba(246,246,249,1) 25%, rgba(227,229,233,1) 78%);
    border: 1px solid #ccc;
    border-radius: 15px;
}

.space-loader {
    position: relative;
    overflow: hidden;
    height: 2px; /*estaba 100% antes y en el orginal */
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
}
.texto-resulatados{
    padding: 10px;
    color: rgb(148, 147, 147);
}

@keyframes loading {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #7d54ec;
    animation: loading 5s steps(40) infinite;
    border-radius: 15px;
}

/*_________________ Loader resultados FIN  ______________________*/
